<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'>
  </head>
  <body>
    <h1>Welcome to Odin-Facebook, <%= @user.first_name %></h1>
    <p>
      You have successfully registered your account at odin-facebook.com. Your login email is <%= @user.email %>.
    </p>
  </body>
</html>