<h3>Post a Comment</h3>

<%= form_with model: @comment, local: true do |f| %>
  <%= f.hidden_field :post_id, value: post.id %>
  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Post' %>
  </p>
<% end %>