<% like = current_user.liked_posts.include?(post) ? Like.find_by(post_id: post.id, user_id: current_user.id) : nil %>

<div class='post-buttons-container'>
  <% if like %>
    <%= link_to like_path(like), method: :delete, class: 'like-button' do %>
      <span class='like-text'>Unlike</span>
    <% end %>
  <% else %>
    <%= link_to likes_path(post_id: post.id), method: :post, class: 'like-button' do %>
      <i class='like-icon'></i> <span class='like-button-text'>Like</span>
    <% end %>
  <% end %>

  <a href='#' class='comment-button'>
    <i class='comment-icon'></i><span class='comment-button-text'>Comment</span>
  </a>
</div>