<div class='post'>
  <%= render partial: 'posts/post', locals: {post: @post} %>
</div>

<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>
<%= link_to 'Back', posts_path %>
