// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.new-post {
  display:block;
  width:200px;
  text-align:center;
  margin:20px auto;
}

.post {
  margin:0;
  background-color:#dfdfdf;
  padding: 1em;
  border-radius:8px;
  margin-bottom: 20px;
}

.profile-img {
  border-radius: 50%;
  width:50px;
  height:50px;
  margin-right:10px;
}

.poster-info {
  display:flex; 
  align-items:center;
}

.text-info {
  list-style:none;
  font-size:0.9em;
  color:$light-text;
}

.post-link {
  margin-left:auto;
  color:rgba(0, 0, 0, 0.6);
}

.content {
  margin:1em auto;
}

.post-info {
  display:flex;
  justify-content:space-between;
  margin:10px 0;
  font-size:0.9em;
  color:$light-text;
}

.post-buttons-container {
  display:flex;
  justify-content:space-around;
  margin:2px 0;
}

.like-icon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/7e8IC8dCOp2.png);
  background-size:auto;
  background-repeat:no-repeat;
  display:inline-block;
  background-position: 0 -208px;
  width:18px;
  height:18px;
  margin-right:5px;
}

.comment-icon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/7e8IC8dCOp2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -132px;
  width:18px;
  height:18px;
  margin-right:5px;
}

.like-button-text,
.comment-button-text {
  position:relative;
  top:2px;
}

.like-button,
.comment-button {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 0.5em 0;
  flex:1;
  text-align:center;
  color:$light-text;
  border-radius: 6px;
}

.like-button:hover,
.comment-button:hover {
  background-color:rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.comment-container {
  display:flex;
  margin: 10px 0;
}

.comment-pic {
  border-radius: 50%;
  width:35px;
  height:35px;
  margin-right:10px;
}

.comment-area {
  height:25px;
  border-radius: 999px;
  padding-top:10px;
  padding-left:10px;
  border:none;
  width:440px;
  font-family: 'DejaVu Sans', sans-serif;
  resize:none;
}

.post-comment-button {
  margin-left:auto;
  margin-right:0;
}

.comment {
  display:flex;
  margin: 5px 0;
}

.comment-author {
  font-weight:bold;
}

.comment-main {
  font-size:0.9em;
  color:$light-text;
  background-color:white;
  @include round-border;
  padding:0.5em; 
  flex:1;
}

.timestamp {
  position:relative;
  left: calc(45px + 0.5em);
  font-size:0.8em;
  color:rgba(0, 0, 0, 0.6);
}

.post-area {
  width: 60%;
  height:100px;
  @include light-border;
  @include box-shadow;
  @include round-border;
  resize:none;
  padding-top:10px;
  padding-left:5px;
  font-family:inherit;
}

.nav-link {
  text-decoration:underline;
}

.nav-link:hover {
  color:$odin-color;
  transition:all 0.3s ease;
}