@import 'variables';

// offset for navbar
.content-container {
  position:relative;
  top:53px;
  padding-bottom:30px;
  width:100vw;
  overflow-x:hidden;
  overflow-y:scroll;
}

a {
  text-decoration: none;
  color:inherit;
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

.alert,
.notice {
  display:block;
  text-align:center;
  padding: 1em;
}

.notice {
  color: green; }

.alert {
  color:red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }


.field {
  padding: 1em;

  * {
    margin: 5px 0;
  }
}

.input {
  border: 1px solid grey;
}

.button {
  background:$odin-color;
  @include box-shadow;
  @include light-border;
  color:white;
  padding:1em;
  border-radius:8px;
  text-decoration:none;
  display:block;
  font-weight:bold;
  cursor:pointer;
}

.button-small {
  width: 80px;
  text-align:center;
  margin: 10px 0;
  display:inline-block;
  padding:0.5em;
}

.button:hover {
  opacity:0.8;
  transition:all 0.3s ease;
}

.horizontal-divider {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: calc(100% - 2em);
  margin: 0 auto;
}

.full-width {
  width:100%;
}

h1 {
  font-size:3em;
  font-weight:bold;
  color:#cc9543;
  padding-bottom:0.5em;
  margin-top:0.5em;
}

h2 {
  font-size:2em;
  font-weight:bold;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

h3 {
  font-size:1.4em;
  font-weight:bold;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.center {
  text-align:center;
  margin:0 auto;
}