// Styles related to Devise sign-in/login/sign-up views
@import 'variables';

.row {
  max-width:960px;
  display:flex;
  margin: 0 auto;
  justify-content:space-between;
  align-items:center;
  position:relative;
  top:100px;
}

.header {
  max-width: 50%;
}

.subtitle {
  font-size:1.5em;
  margin-bottom:1em;
}

.login-container {
  @include box-shadow;
  @include light-border;
  border-radius: 5px;
  background:white;
}

#user_email,
#user_password,
#user_first_name,
#user_last_name,
#user_password_confirmation {
  padding: 1em;
  border-radius: 8px;
  width: 300px;
  font-size: 1em;
  @include light-border;
}

.login {
  @include light-border;
  padding:1em 0;
  margin:0 auto;
  width: calc(100% - 2em);
  display:block;
  background-color:$odin-color;
  border-radius: 8px;
  color:white;
  font-size: 1em;
  font-weight:bold;
  cursor:pointer;
}

.login:hover {
  opacity:0.8;
  transition:opacity 0.3s ease;
}

@media screen and (max-width: 970px) {
  .row {
    flex-direction: column;
    text-align:center;
    top:0;
  }

  .header {
    max-width:90%;
  }

  .login-container {
    max-width: 95%;
  }

  #user_email,
  #user_password,
  #user_first_name,
  #user_last_name,
  #user_password_confirmation {
    max-width:85%;
  }
}

